<!doctype html>
<html>
    <head>
		<title>Experiments with 3d in the browser</title> 
		<style>
			header{
				background-color: #ffffff;
				padding: 10px;
				
			}
		</style>
	</head>
	<body>

		<header><h1>Experiments with 3d in the browser</h1></header>
		
		{{{body}}}

	</body>
</html>