

<iframe id="screen" src="http://madarts.goucher.edu/gregoryyoung/assignment_1/inspiration.html" width="529" height="386"></iframe>

<h2>Interactive</h2>
<p>You can use your left and right mouse buttons to navigate forward and backward within the scene.</p>

<p>have a look at this <a href="/game">one</a>.</p>

