
<iframe id="screen" src="https://www.blend4web.com/tutorials/examples/interactive_web_application/simple_app.html?v=20160408172937" width="529" height="386"></iframe>
<p>The above is a training example from Blend4Web. </p>


